:root {
	//COLORS

	//Primary
	--color-primary: #3c8067;
	--color-secondary: #f2ebe3;

	//Gray
	--color-gray-dark: hsl(212, 21%, 14%);
	--color-gray: hsl(228, 12%, 48%);

	--color-white: #ffffff;

	//TYPOGRAPHY
	--font-primary: 'Montserrat', sans-serif;
	--font-header: 'Fraunces', serif;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-primary);
	font-size: 1.4rem;
	color: var(--color-gray);
	background-color: var(--color-secondary);
	padding: 2.8em 1.6em;
}

.card {
	background-color: var(--color-white);
	border-radius: 1em;
	overflow: hidden;
	max-width: 45rem;
	margin: 0 auto;

	&__header {
		height: calc(100vw - 13.5rem);
		max-height: 32rem;
		max-width: 45rem;

		.img {
			width: 100%;
			height: 100%;
			background-image: url(./images/image-product-mobile.jpg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	.content {
		padding: 1.714em;
		width: 100%;

		&__category {
			font-size: 1.2rem;
			text-transform: uppercase;
			letter-spacing: 0.3em;
			margin-bottom: 1em;
		}
		&__heading {
			font-family: var(--font-header);
			font-size: 3.2rem;
			line-height: 1;
			color: var(--color-gray-dark);
			margin-bottom: 0.7em;
		}
		&__description {
			line-height: 1.7;
		}
	}

	.price {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 2rem;
		padding: 2.1rem 0 1.4rem;
		margin-bottom: 0.6em;
		&__current {
			font-family: var(--font-header);
			color: var(--color-primary);
			font-size: 3.2rem;
		}
		&__old {
			font-family: var(--font-primary);
			color: var(--color-gray);
			text-decoration: line-through;
		}
	}

	.btn {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.2rem;

		font-family: var(--font-primary);
		font-weight: 700;
		color: var(--color-white);
		background-color: var(--color-primary);
		border-radius: 0.6em;

		border: none;
		width: 100%;
		padding: 1.5em 0;
		cursor: pointer;

		transition: all 0.3s;

		&:hover,
		&:focus {
			background-color: #1a4032;
		}
		&:focus {
			outline: none;
		}
	}
}
