:root {
	//COLORS

	//Primary
	--color-primary: #3c8067;
	--color-secondary: #f2ebe3;

	//Gray
	--color-gray-dark: hsl(212, 21%, 14%);
	--color-gray: hsl(228, 12%, 48%);

	--color-white: #ffffff;

	//TYPOGRAPHY
	--font-primary: 'Montserrat', sans-serif;
	--font-header: 'Fraunces', serif;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-primary);
	font-size: 1.4rem;
	color: var(--color-gray);
	background-color: var(--color-secondary);
}
